<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="BankingApp" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\spino\Desktop\Juliane\DBS\OOP_B7IS114\CA2\DBSBank\DBSBank\BankingApp.mdf;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="SortCode" value="101010" />
  </appSettings>
</configuration>